<ion-view view-title="artists">
  <div class="app_view">
    <ion-content class="blocks_list  artist-list">
      <ion-item class="block_elem animated fadeIn"
                ng-repeat="item in artists track by $index"
                style="background: url('{{item.thumb}}') center center no-repeat; background-size: cover; animation-delay: {{ 0.1 * $index + 's'}}"
                href="#/carmen/list/{{$index}}">
        <h2> {{item.name}} </h2>
        <p>{{item.author}}</p>
      </ion-item>
    </ion-content>
  </div>
</ion-view>
