<div class="app_view">
  <ion-tabs class="tabs-icon-only">
    <ion-tab href="#/carmen/list"  class="custom-tab custom-list" icon="custom-artists">
      <ion-nav-view name="carmen-list"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/carmen/splash" class="custom-tab custom-info" icon="custom-qm">
      <ion-nav-view name="carmen-splash"></ion-nav-view>
    </ion-tab>
    <!--<a href="#/carmen/list">-->
      <!--<img src="img/t_icon.png" alt=""/>-->

    <!--</a>-->
    <!--<a href="#/carmen/splash">-->
      <!--<img src="img/help_icon.png" alt=""/>-->

    <!--</a>-->
  </ion-tabs>
</div>

