<ion-view view-title="splash">
  <div class="splash">
    <div class="splash-inner">
      <div class="splash-header">
        <div class="number">204</div>
        <div class="rest">
          <div>Postacie</div>
          <div>1822 - 1868</div>
        </div>
      </div>
      <div class="splash-title">
        <h2>Perła kolekcji</h2>
        <h4>Opery epoki romantyzmu</h4>
      </div>
    </div>
  </div>
</ion-view>

