$page-max-width: 900px;
$page-pad: 6%;
$block-width: (100% -  $page-pad) / 2;
$green: #1bb196;

.all3 {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

@font-face {
  font-family: 'DidoteBold' ;
  src: url('../fonts/DidoteTextPro-Bold.woff');
}

@font-face {
  font-family: 'DidoteRegular' ;
  src: url('../fonts/DidoteTextPro-Regular.woff');
}

@font-face {
  font-family: 'TradeGothic' ;
  src: url('../fonts/TradeGothicLTPro-Light.woff');
}

.a {
  color: inherit;
  text-decoration: none !important;
}


.artist-list{
  background: url('../img/carmen_background.jpg') top center no-repeat;
  background-size: cover;
}
.splash {
  display: block;
  background: url('../img/standby_background.jpg') top center no-repeat;
  background-size: cover;
  max-width: $page-max-width;
  font-family: 'TradeGothic', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .splash-inner {
    position: relative;
    height: 100%;

  }
  .splash-header {
    text-transform: uppercase;
    padding: 70px;
    letter-spacing: 2px;
    .number, .rest {
      display: inline-block;
      padding: 3px 13px;

    }
    .number {
      font-size: 44px;
      line-height: 45px;
      border-right: 3px solid $green;

    }
    .rest {
      div {
        &:first-child {
          font-size: 16px;
        }
        &:last-child {
          font-size: 14px;

        }
      }
    }
  }
  .splash-title {
    position: absolute;
    top: 45%;
    transform: translate3d(0, -50%, 0);
    h2, h4 {
      padding: 0 40px;
      margin: 0;
      color: #fff;
      font-family: 'DidoteBold', sans-serif;
    }
    h2 {
      font-size: 90px;
      line-height: 100px;
    }
    h4 {
      font-size: 30px;
      line-height: 30px;

    }
  }
}

.app_view {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: $page-max-width;
  color: #fff;
}

.blocks_list {
  padding: $page-pad;

  .block_elem {
    display: inline-block;
    width: $block-width;
    margin-bottom: $page-pad;
    padding: 20px;
    border: none;
    box-shadow: 2px 2px 5px #333;
    border-radius: 2px;
    .item-content {
      background: transparent;
    }
    h2 {
      color: #fff;
      font-size: 30px;
      margin-top: 20px;
      padding-bottom: 5px;
    }
    p {
      color: #fff;

    }
    &:nth-child(even) {
      margin-left: $page-pad / 2;
    }
    &:nth-child(odd) {
      margin-right: $page-pad / 2;

    }
  }
}

.tabs-bottom {
  .tab-nav.tabs {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 70px;
    border: none;
    background: #000;
    ion-tab{
      display: none;
    }
    .custom-tab {
      position: relative;
      width:70px;
      max-width: 70px;

      .custom-artists {
        position: absolute;
        top: 0;
        left: 0;
        width:70px;
        height: 100%;
        background: url('../img/t_icon.png')  center center no-repeat;
        border-right:2px solid $green;
      }
      .custom-qm {
        position: absolute;
        top: 0;
        left: 0;
        width:70px;
        height: 100%;
        background: url('../img/help_icon.png')  center center no-repeat;
        border-left:2px solid $green;

      }
    }

    a {

    }
  }
}
